//Contact CSS
@contactTextSize: 36px;

.contact-page-contact-me {
    align-self: center;
    font-size: 72px;
    // text-decoration:underline;
    margin-bottom: 25px;
}

.contact-page-email {
    font-size: @contactTextSize;
    display: flex;
    align-items: center;
}

.contact-page-email-icon {
    height: 36px;
    width: 48px;
    padding-right: 8px;
}

.contact-page-gitHub {
    font-size: @contactTextSize;
    display: flex;
    align-items: center;
}

.contact-page-gitHub-icon {
    height: 48px;
    width: 48px;
    padding-right: 8px;
}

.contact-page-linkedIn {
    font-size: @contactTextSize;
    display: flex;
    align-items: center;
}

.contact-page-linkedIn-icon {
    height: 48px;
    width: 48px;
    padding-right: 8px;
}

.contact-page-main-container {
    display: flex;
    justify-content: center;
}
.contact-page-social-container {
    display: flex;
    flex-direction: column;
}

//Mobile friendly
@media screen and (max-width: 450px) {
    @mobileTextSize: 20px;
    .contact-page-email {
        font-size: @mobileTextSize
    }
    .contact-page-gitHub {
        font-size: @mobileTextSize
    }
    .contact-page-linkedIn {
        font-size: @mobileTextSize
    }
}