//Footer CSS
.footer-main-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    align-self: center;
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    width: 95%;
    padding: 10px;
    padding-right: 10px;
}

.footer-contact {
    display: flex;
    width: 60%;
}

.footer-information {
    display: flex;
}

.footer-contact {
    display:flex;
}