//Footer CSS
.footer-main-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: @background-color;
    left: 0;
    bottom: 0;
    right: 0;
    height: 50px;
    width: 98vw;
    padding-top: 5px;
    padding-bottom: 5px;
    // padding-left: 10px;
    // padding-right: 10px;
    margin-top: 50px;
    border-style:solid;
    border-color: white;
    border-radius: 10px;
    // min-width: 450px;
    animation: footerFadeIn 3s;
}

.footer-contact {
    display: flex;
    width: 70%;
    padding-right: 5px;
    padding-left: 5px;    
}

.footer-information {
    display: flex;
    padding-right: 5px;
    font-size: 12px;
}

@keyframes footerFadeIn {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
