.gizmos-carousel-main-container {
    display:flex;
    font-size:24px;
    width: 50vw;
    border-style:dotted;
    border-color:white;
    border-radius: 10px;
    overflow: hidden;
}

.gizmos-main-container {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:62px;
    padding-top: 40px;
}

.single-carousel-card-container {
    width: 1000px;
}
