@bobaBackgroundColor: rgba(206, 148, 248, 0.719);
@bobaFontColor: rgba(255, 247, 131, 0.878);

.gizmos-carousel-button {
    size: large;
    width: 10vw;
    height: 5vh;
    margin: 5px;
    // font-size: calc(1.3vw + 1.3vh);
    font-size: 24px;
    background-color: @bobaBackgroundColor;
    color: @bobaFontColor;
    border-radius: 10px;
    overflow: hidden;
}

.gizmos-carousel-card-container {
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size:24px;
    width: 50vw;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    // overflow: hidden;
}

.gizmos-carousel-main-container {
    display:flex;
    justify-content: center;
    align-items: center;
    border-style:dotted;
    border-color:white;
    border-radius: 10px;
    // height: 25vw;
    // font-size:24px;
    // width: 50vw;
    height: 50vh;
    // border-style:dotted;
    // padding: 5px;
    // margin-top: 5px;
    // margin-bottom: 5px;
    // border-color:white;
    // border-radius: 10px;
    overflow: hidden;
}

.gizmos-carousel-single-item {
    display:flex;
    flex-direction:column;
    justify-self: center;
    max-width: 400px;
    transition: 200ms opacity ease-in-out;
    
}

.gizmos-main-container {
    display:flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size:62px;
    padding-top: 40px;
    height: 150vh;
    max-width: 95vw;
}

.gizmos-single-boba-img {
    display:block;   
    max-width: 300px;
    max-height: 300px;
    width:auto;
    height:auto; 
    transition: 200ms opacity ease-in-out;
    transition-delay: 200ms;
}

.gizmos-single-name {
    font-size: 36px;
}

.gizmo-carousel-button {
    display: flex;
    justify-content: center;
    height: 25px;
}

@keyframes slideRight {
    0% {
        opacity: 100%;
        
    }
    100% {
        transform:translateX(100px);
        opacity: 0%;
    }
}

