//Header CSS
.header-bottom-section {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    font-size: x-large;
}

a:link{
    color:white;
}
a:visited {
    color:white;
}
a:hover {
    background-color: gold;
    color: black;
}
.header-link{
    display: flex;
    text-decoration: none;
    border-radius: 5px;
    border-color:white;
    border-style: solid;
    border-width: thin;
    padding: 5px;
    transition: 0.3s;
}


.header-main-container {
    color:white;
}

.header-personal-img {
    padding: 5px;
}

.header-personal-name {
    padding: 5px;
}

.header-top-section {
    display:flex;
    align-items: center;
    justify-content: center;
}
