.projects-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.single-project-container {
    display:flex;
    flex-direction: column;
    align-items: center;
}