@import "contact.less";
@import "footer.less";
@import "gizmos.less";
@import "header.less";
@import "home.less";
@import "projects.less";
@import "goals.less";
@import "toontown.less";

@background-color:#020f24;
@text-color: white;

//Hides the horizontal scroll bar
body {
    overflow-x:hidden;
}


