.contact-page-contact-me {
  align-self: center;
  font-size: 72px;
  margin-bottom: 25px;
}
.contact-page-email {
  font-size: 36px;
  display: flex;
  align-items: center;
}
.contact-page-email-icon {
  height: 36px;
  width: 48px;
  padding-right: 8px;
}
.contact-page-gitHub {
  font-size: 36px;
  display: flex;
  align-items: center;
}
.contact-page-gitHub-icon {
  height: 48px;
  width: 48px;
  padding-right: 8px;
}
.contact-page-linkedIn {
  font-size: 36px;
  display: flex;
  align-items: center;
}
.contact-page-linkedIn-icon {
  height: 48px;
  width: 48px;
  padding-right: 8px;
}
.contact-page-main-container {
  display: flex;
  justify-content: center;
}
.contact-page-social-container {
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 450px) {
  .contact-page-email {
    font-size: 20px;
  }
  .contact-page-gitHub {
    font-size: 20px;
  }
  .contact-page-linkedIn {
    font-size: 20px;
  }
}
.footer-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #020f24;
  left: 0;
  bottom: 0;
  right: 0;
  height: 7vh;
  width: 98vw;
  padding-top: 5px;
  padding-bottom: 5px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  animation: footerFadeIn 3s;
}
.footer-contact {
  display: flex;
  width: 70%;
  padding-right: 5px;
  padding-left: 5px;
}
.footer-information {
  display: flex;
  padding-right: 5px;
  font-size: 12px;
}
@keyframes footerFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.gizmos-carousel-button {
  size: large;
  width: 10vw;
  height: 5vh;
  margin: 5px;
  font-size: 24px;
  background-color: rgba(206, 148, 248, 0.719);
  color: rgba(255, 247, 131, 0.878);
  border-radius: 10px;
  overflow: hidden;
}
.gizmos-carousel-card-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  width: 300px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
.gizmos-carousel-main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  height: 50vh;
}
.gizmos-carousel-single-item {
  display: flex;
  flex-direction: column;
  justify-self: center;
  max-width: 400px;
  transition: 200ms opacity ease-in-out;
}
.gizmos-main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 62px;
  max-width: 95vw;
}
.gizmos-single-boba-img {
  display: block;
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}
.gizmos-single-name {
  font-size: 36px;
}
.gizmos-toontown-cog-container {
  display: flex;
  margin: 5px;
}
.gizmos-toontown-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-style: dotted;
  border-radius: 10px;
  padding: 10px;
}
.gizmos-toontown-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 72px;
  margin-bottom: 100px;
  font-size: 36px;
}
.gizmos-toontown-gag-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.gizmos-toontown-gag-name {
  width: 100px;
}
.gizmos-toontown-gag-track {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
.Toonup {
  background-color: #bb68e8;
}
.Trap {
  background-color: #f1f73d;
}
.Lure {
  background-color: #1e8b2d;
}
.Sound {
  background-color: #3d46ca;
}
.Throw {
  background-color: #d78038;
}
.Squirt {
  background-color: #c7277a;
}
.Drop {
  background-color: #30e3ff;
}
.gizmos-toontown-single-cog {
  margin: 10px;
  font-size: 20px;
}
.gizmos-toontown-single-gag {
  font-size: 12px;
  padding: 5px;
  margin: 5px;
  width: 50px;
  height: 25px;
  border-radius: 7px;
  box-shadow: 5px 5px 3px black;
  user-select: none;
  background-color: #1a61b8;
}
.gag-clicked {
  background-color: black;
}
.blue {
  background-color: blue;
}
.gizmos-toontown-single-gag:hover {
  background-color: #46f4f7;
  transition: 0.1s;
}
.gizmos-toontown-single-toon {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  font-size: 18px;
}
.gizmos-toontown-toons-container {
  display: flex;
}
@keyframes slideRight {
  0% {
    opacity: 100%;
  }
  100% {
    transform: translateX(100px);
    opacity: 0%;
  }
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  background-color: gold;
  color: black;
}
.header-bottom-section {
  background-color: #020f24;
}
.header-caution-icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.header-link {
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 20px;
  transition: 0.1s;
}
.header-link-container {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  padding-top: 10px;
  padding-bottom: 8px;
}
.header-main-container {
  color: white;
  display: block;
  background-color: #020f24;
  top: 0;
  left: 0;
  margin-left: -8px;
  width: 100vw;
}
.header-personal-img {
  padding: 5px;
  width: 150px;
  border-radius: 100%;
}
.header-personal-name {
  display: flex;
  width: 150px;
  padding: 5px;
  font-size: 38px;
}
.header-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.header-under-construction {
  display: flex;
  align-items: center;
}
.header-under-construction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: orange;
  color: black;
  font-weight: 700;
  margin-top: 5px;
  margin-left: 0px;
}
.is-sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  animation: stickHeader 1s;
  padding-top: 0px;
  padding-bottom: 0px;
}
@keyframes stickHeader {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
body {
  background-color: #020f24;
  color: white;
}
.home-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 350px;
}
.home-who-am-I-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
.home-what-I-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 70px;
}
.what-do-I-do {
  font-size: 48px;
  display: flex;
  align-self: center;
}
.who-am-I {
  font-size: 48px;
  display: flex;
  align-self: center;
}
.projects-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.projects-main-title {
  font-size: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.single-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dotted;
  border-color: white;
  width: 90vw;
  max-width: 1000px;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 75px;
}
.single-project-description {
  display: flex;
  padding: 10px;
  font-size: 20px;
}
.single-project-iframe {
  display: flex;
  height: 60vh;
  width: 70vw;
  min-width: 10vw;
  min-height: 10vh;
  max-width: 900px;
  max-height: 95vh;
  resize: both;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 20px;
  padding: 10px;
}
.single-project-iframe-clickMe {
  align-self: bottom;
}
.single-project-iframe-container {
  display: flex;
  align-items: baseline;
}
.single-project-img {
  display: flex;
  max-width: 700px;
  width: 66%;
}
.single-project-title {
  font-size: 36px;
  text-decoration: underline;
}
.goals-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 60px;
}
.goals-single-goal {
  font-size: 24px;
}
body {
  overflow-x: hidden;
}
