.footer-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background-color: #020f24;
  left: 0;
  bottom: 0;
  right: 0;
  height: 7vh;
  width: 97vw;
  padding-left: 10px;
  padding-right: 10px;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  min-width: 450px;
}
.footer-contact {
  display: flex;
  width: 60%;
  padding-right: 5px;
}
.footer-information {
  display: flex;
  padding-right: 5px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  background-color: gold;
  color: black;
}
.header-bottom-section {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%;
  font-size: xx-large;
  position: static;
}
.header-caution-icon {
  width: 20px;
  height: 20px;
  padding-right: 5px;
}
.header-link {
  display: flex;
  text-decoration: none;
  border-radius: 5px;
  border-color: white;
  border-style: solid;
  border-width: thin;
  padding: 5px;
  font-size: 4vw;
  transition: 0.1s;
}
.header-main-container {
  color: white;
}
.header-personal-img {
  display: flex;
  padding: 5px;
  width: 20vw;
  max-width: 200px;
  border-radius: 100%;
}
.header-personal-name {
  display: flex;
  width: 20vw;
  padding: 5px;
  font-size: 5vw;
}
.header-top-section {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
.header-under-construction {
  display: flex;
  align-items: center;
}
.header-under-construction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;
  background-color: orange;
  color: black;
  font-weight: 700;
}
.projects-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 200px;
}
.single-project-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-style: dotted;
  border-color: white;
  width: 95vw;
  border-radius: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.single-project-description {
  display: flex;
  padding: 10px;
  font-size: calc(2vh + 2vw);
}
.single-project-iframe {
  display: flex;
  height: 60vh;
  width: 85vw;
  min-width: 10vw;
  min-height: 10vh;
  max-width: 95vw;
  max-height: 95vh;
  resize: both;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 20px;
  padding: 10px;
}
.single-project-iframe-clickMe {
  align-self: bottom;
}
.single-project-iframe-container {
  display: flex;
  align-items: baseline;
}
.single-project-img {
  display: flex;
  max-width: 700px;
  width: 66%;
}
.single-project-title {
  font-size: 56px;
}
.contact-page-contact-me {
  align-self: center;
  font-size: 72px;
  text-decoration: underline;
}
.contact-page-email {
  font-size: 48px;
  display: flex;
  align-items: center;
}
.contact-page-email-icon {
  height: 36px;
  width: 48px;
}
.contact-page-gitHub {
  font-size: 48px;
  display: flex;
  align-items: center;
}
.contact-page-gitHub-icon {
  height: 48px;
  width: 48px;
}
.contact-page-linkedIn {
  font-size: 48px;
  display: flex;
  align-items: center;
}
.contact-page-linkedIn-icon {
  height: 48px;
  width: 48px;
}
.contact-page-main-container {
  display: flex;
  justify-content: center;
}
.contact-page-social-container {
  display: flex;
  flex-direction: column;
}
body {
  background-color: #020f24;
  color: white;
}
.home-main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  min-width: 350px;
}
.home-who-am-I-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
}
.home-what-I-do-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 50px;
}
.what-do-I-do {
  display: flex;
  align-self: center;
}
.who-am-I {
  display: flex;
  align-self: center;
}
